:root{
    --redish: #cf3005;
    --light: #f1e0b1;
    --yellow: #ffa821;
    --brown: #422a20;
}

body{
    background: rgba(255, 238, 148, 0.17);
    font-family: 'Golos Text', sans-serif;
}

h1{
    font-weight: 800;
}

a,a:hover{
    text-decoration: none;
}

img{
    width: 100%;
}

.navbar-nav{
    justify-content: space-evenly;
    width: 50%;
}

.nav-link{
    color: #fff;
    font-size: 18px;
}

.hero-section{
    background: url('../img/hero-image.png') #c2c2c2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    color: #fff;
}

.hero-section img{
    height: 70px;
}

.exhibition-prompts {
    display: flex;
    justify-content: space-evenly;
}

.exhibition-prompts a:first-child {
    color: #fff;
    background: #000;
    padding: 10px 15px;
    border-radius: 8px;
}

.exhibition-prompts a:first-child {
    color: #fff;
    background: #000;
    padding: 10px 15px;
    border-radius: 8px;
}

.exhibition-prompts a:last-child {
    color: #000;
    background: #c87513;
    padding: 10px 15px;
    border-radius: 8px;
}

.exciting-exhibitions, .star-artists, .art-mediums{
    margin: 5em 0 3em 0;
}

.featured-exhibition img, .exciting-exhibitions img, .star-artists img, .art-mediums img{
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
}

.featured-exhibition h2, .exciting-exhibitions h2, .star-artists h2, .art-mediums h2{
    font-weight: 700;
}

.featured-exhibition img {
    height: 300px;
    object-fit: cover;
}

.featured-exhibition h5{
    color: var(--redish);
    text-align: center;
    margin: 2em 0;
}